@media (min-width: 768px) {
  .expenseViewWrapper {
    position: relative;
    z-index: 50;
    max-width: 701px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 32px 61px 32px;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
}

@media (min-width: 1280px) {
  .expenseViewWrapper {
    position: relative;
    z-index: 50;
    max-width: 1098px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 32px 61px 32px;
    background-color: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
  }
}
