@media screen and (min-width: 270px) {
  .link_report {
    text-decoration: none;
    color: #52555f;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.2;
    display: flex;
    align-items: baseline;
    gap: 10px;
    position: absolute;
  }
}
@media screen and (max-width: 767px) {
  .link_report {
    right: calc((100% - 320px) / 2 + 320px / 2 - 30px);
    top: 60px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .link_report {
   
    right: 32px;
    top: 88px;
    transition: 0.3s;
  }
}
@media screen and (min-width: 1280px) {
  .link_report {
    right: 7.5%;
    top: 51px;
  }
}

.diagramsvg {
  fill: currentColor;

  transition: 0.3s;
}

.link_report:hover .diagramsvg {
  fill: var(--accent-color);
}
