.load_wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.spinner {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}

.bubble_1,
.bubble_2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  background-size: 100%, contain;
  background-repeat: no-repeat;
  background-image: url('../../../images/loader/loader.png');
}

.bubble_2 {
  top: auto;
  bottom: 0;
}
.load_9 .spinner {
  animation: loadingI 2s linear infinite;
}
.load_9 .bubble_1,
.load_9 .bubble_2 {
  animation: bounce 2s ease-in-out infinite;
}
.load_9 .bubble_2 {
  animation-delay: -1s;
}

@keyframes loadingI {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
